body {
	margin: 0px;
}

div {
   position: absolute; 
}

#container {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	display: block;
	position: relative;
	cursor: pointer;
	border: 1px solid black;
	background-color:#ffbc0d;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
}

#guide{
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
    background: url('guide.jpg') no-repeat ;
    opacity: .4;
}

#banner {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	display: block;
	overflow: hidden;
}
#background{
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
    background: url('background.jpg') no-repeat ;
    background-size: 100% 100%;
}
#copy1_headline{
	top:  3px;
	left: 6px;
	background: url('copy1_headline.png') no-repeat;
    background-size: 100% 100%;
	width: 280px;
	height: 99px;
}
#copy2_subheadline{
	top:  114px;
	left: 6px;
	background: url('copy2_subheadline.png') no-repeat;
    background-size: 100% 100%;
	width: 69px;
	height: 34px;
}
#copy3_legal{
	top:  203px;
	left: 3px;
	background: url('copy3_legal.png') no-repeat;
    background-size: 100% 100%;
	width: 120px;
	height: 44px;
}
#coffee{
    top:75px;
    left: 118px;
    background: url('coffee.png') no-repeat;
    background-size: 100% 100%;
	width: 196px;
	height: 180px;    
}

#ctaBTN{
    overflow: hidden;
    border-radius: 6px;
	width: 94px;
	height: 27px;
    top: 160px;
    left: 6px;
    background-color: #401b00;
}
#blackCta{
	width: 100%;
	height: 100%;
    background-color: white;
}
#ctaCopyB {
    background: url('cta_copy.svg') no-repeat;
    background-size: 100% 100%;
	width: 73px;
	height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
#ctaCopyW {
    background: url('cta_copy2.svg') no-repeat;
    background-size: 100% 100%;
	width: 73px;
	height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#steam_sprite_container{
    right: 0px;
    top:35px;
    width: 150px;
    height: 125px;
    overflow: hidden;
    
/*    background: url('Comp_1.gif') no-repeat;*/
/*    background-blend-mode: screen;*/
/*    z-index: 100;*/
}

#steam_sprite{
/*    position: relative;*/
    width: 1950px;
    height: 750px;
    top: 0px;
    left: 0px;
    background: url('sprite_secuence.png') no-repeat;
}