
.banner {
    width: var(--width);
    height: var(--height);
    border: var(--primary) 1px solid;
/*    background-image: url(../img/bg.jpg);*/
    overflow: hidden;
    box-sizing: border-box;
    font-family: var(--family);
    font-size: 9px;
}

#loader-container {
    display: none;
}

#btn-exit {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.size {
    top: -1px;
    left: -1px;
    width: var(--width);
    height: var(--height);
}

.retina {
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

/*svg circle.circles.blurred {
  fill: #c2f6fd;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}*/

/* ///////////////////////////////////////////////////////////////////////////////////ASSETS///////////////////////////////////////////// */
#bg {
    background: url(../img/bg.jpg);
}

#bg1 {
    background: url(../img/bg1.png);
}
#copy1_1 {
    background: url(../img/copy1_1.png);
}
#copy1_2 {
    background: url(../img/copy1_2.png);
}
#copy2 {
    background: url(../img/copy2_1.png);
}

#copy3 {
    background: url(../img/copy3_1.png);
}
#logo1 {
    background: url(../img/logo1.png);
}

#disclaimer1 {
    background: url(../img/disclaimer.png);
}

#cta {
    background: url(../img/cta.png);
}
#logo2 {
    background: url(../img/logo2.png);
}
#pi{
	width: 5%;
    height: 7%;
    left: 9%;
    top: 66%;
    cursor: pointer;
}
#patient{
	width: 22%;
    height: 7%;
    left: 18%;
    top: 66%;
    cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////////////////ISI///////////////////////////////////////////// */
#isi-container {
    bottom: 0px;
    width: 100%;
    height: 63px;
    overflow: hidden;
    background-color: white;
}

#isi {
    width: 275px;
    height: 100%; /* Always 100% */
    overflow-x: hidden;
    padding: 0 60px 0 10px;
}

::-webkit-scrollbar {
    display: none;
}

.scroller-container {
    right: 1px;
    width: 8px;
}

.knob-arrange {
    width: 9px;
    height: 63px;
    background-color: #9e9e9e;
}

.knob {
    width: 5px;
    height: 13px;
    background-image: linear-gradient(0deg, #eeeeee 26%, #c8c8c8 27%, #eeeeee 28%, #eeeeee 49%, #c8c8c8 50%, #eeeeee 51%, #eeeeee 72%, #c8c8c8 73%, #eeeeee 74%);
    border: #eeeeee solid 1px;
    border-radius: 1px;
    cursor: pointer;
    left: 1px;
}

h1 {
    font-weight: bold;
    font-size: 10px;
    color: var(--primary);
    margin-top: 8px;
}

h2 {
    font-weight: bold;
    font-size: 10px;
    color: var(--primary);
    margin-top: 1px;
}

h3 {
    font-weight: bold;
    font-size: 10px;
}

p, li {
    margin: 5px 0 0 0px;
}

.link {
    text-decoration: underline;
    text-decoration-style: solid;
    font-weight: bold;
    cursor: pointer;
}

.link * {
    pointer-events: none;
}

#isi .sup {
    vertical-align: text-top;
    font-size: 6.5px;
    letter-spacing: .10px;
    margin-left: 1px;
}

#isi .p_indent {
    margin-left: 9px;
}

/* LISTS */

ul {
    margin-left: 7px;
    list-style-position: outside;
}

li {
    position: relative; 
}

li::marker {
    content: '•';
    color: transparent;
    letter-spacing: -4px;
}

li::before {
    position: absolute;
    left: -6px;
    font-weight: bold;
    top: -1px;
    content: '•';
    font-size: 10px;
}

/* ---- */

#isi .nobr {
    white-space: nowrap;
}

.boxed_warning {
    position: relative;
    padding: 10px;
    border: var(--primary) 1px solid;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
}

.split {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.split ul {
    width: 50%;
}

ul ul {
    list-style-position: inside;
}

ul ul li {
    left: -3px;
}

ul ul li::marker {
    letter-spacing: 0px;
}

ul ul li::before {
    position: absolute;
    content: 'o';
    left: -3px;
    top: 1px;
    font-size: 6px;
}

.right_col {
    min-width: 50%;
    text-align: right;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.mb6 {
    margin-bottom: 6px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb12 {
    margin-bottom: 12px !important;
}

.mb14 {
    margin-bottom: 14px !important;
}

.mb16 {
    margin-bottom: 16px !important;
}
/*
.firefox-mac {
}

.firefox-pc {
}

.pc-all {
}

.mac-all {
}

.edge-mac {}

.edge-pc {}

.chrome-mac {}

.safari {}

.chrome-pc {}

.iphoneIpad {}

.android {}*/