.banner {
  width: var(--width);
  height: var(--height);
  border: 1px solid var(--primary);
  background: var(--white);
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--family);
}

.size {
  top: -1px;
  left: -1px;
  width: var(--width);
  height: var(--height);
}

.retina {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.hide{
  opacity: 0;
}

#btn-exit {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
/*///////////////////COPY1///////////////////*/
#copy1_1 {
  background: url(../img/copy1_1.png);
}
#copy1_2 {
  background: url(../img/copy1_2.png);
}
#copy1_3 {
  background: url(../img/copy1_3.png);
}
/*///////////////////COPY2///////////////////*/
#copy2_1 {
  background: url(../img/copy2_1.png);
}
#copy2_2 {
  background: url(../img/copy2_2.png);
}
#copy2_3 {
  background: url(../img/copy2_3.png);
}
#copy2_4 {
  background: url(../img/copy2_4.png);
}
/*///////////////////COPY3///////////////////*/
#copy3_1 {
  background: url(../img/copy3_1.png);
}
#copy3_2 {
  background: url(../img/copy3_2.png);
}
#copy3_3 {
  background: url(../img/copy3_3.png);
}
/*///////////////////COPY4///////////////////*/
#copy4_1 {
  background: url(../img/copy4_1.png);
}
#copy4_2 {
  background: url(../img/copy4_2.png);
}
#copy4_3 {
  background: url(../img/copy4_3.png);
}

#wave {
  top: 20px;
  background: url(../img/bg.jpg);
  transform-origin: 0px 300px;
}

#warning {
  background: url(../img/warnings.png);
}

#device1_container{
}

#device1 {
  background: url(../img/device1_complete.png);
  transform-origin: 250px 190px;
}

#device2 {
  background: url(../img/device2_complete.png);
}

#device3 {
  background: url(../img/device2_complete.png);
  top:25px;
  left: 84px !important;
  transform: rotate(-102deg);
}

#device4 {
  background: url(../img/device4.png);

}

#cta {
  background: url(../img/cta.png);
  opacity: 0;
}

#icon {
  background: url(../img/icon.png);
  top: -15px !important;
  left: 64px !important;
  transform-origin: 85px 125px;
  transform: scale(0.42);
}
#iqos {
  background: url(../img/logo_IQOS.png);
}