/* ==================================================================
CSS BASE RESET
===================================================================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


div, svg, img {
	position: absolute;
/*	pointer-events: none;*/
}

p {
    position: relative;
/*  pointer-events: none;*/
}


#container {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	display: block;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #000000;
    
}

#ct1,#ct2,#ct3,#ct4,#ct5,#ct6 {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    visibility: hidden;
    z-index: 11;
}

#ad {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    display: block;
    overflow: hidden;
    /*cursor: pointer;*/
    z-index: 10;
}

#banner {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	display: block;
	overflow: hidden;

}

/*FOR RESIZES MOVE THE LIGHTS TO THE DESIRED LOCATION USE CONSOLE*/
#offerSignal{
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
}
#quizSignal{
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;    
}

/* ---------------------------------------------------------------------------------
   TEXTUREPACKER Sprite
  --------------------------------------------------------------------------------- */


/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:08d44fb09dd28a86e2cced61302c582a:a16b037c639f97e107959e26e52162f3:a41198f49a9ace18ec39f242a9b49559$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
/*HDR HIGH RES to support double size sprite to improve quality*/
.sprite2 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite.png);transform: scale(0.5);transform-origin: 0% 0%;}
/*REGULAR RES regular sprite class*/
.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite.png);}

.Offer {width:216px; height:83px; background-position: -2px -360px}
.att_bold {width:50px; height:15px; background-position: -242px -92px}
.blackBar_01 {width:215px; height:35px; background-position: -220px -397px}
.blackBar_02 {width:174px; height:35px; background-position: -298px -86px}
.blackBar_03 {width:235px; height:40px; background-position: -2px -255px}
.blackBar_04 {width:235px; height:63px; background-position: -242px -179px}
.blackBar_right {width:235px; height:63px; background-position: -2px -190px}
.blackBar_wrong {width:235px; height:63px; background-position: -239px -244px}
.centuryLink_bold {width:121px; height:20px; background-position: -333px -434px}
.comcastBusiness_bold {width:180px; height:16px; background-position: -298px -2px}
.copy2 {width:238px; height:96px; background-position: -2px -92px}
.ctaWhite {width:238px; height:54px; background-position: -242px -123px}
.ctaYellow {width:294px; height:88px; background-position: -2px -2px}
.headline_ef {width:162px; height:23px; background-position: -2px -445px}
.noAnswer {width:176px; height:64px; background-position: -298px -20px}
.phoneNumber {width:165px; height:22px; background-position: -166px -445px}
.quiz_copy {width:229px; height:86px; background-position: -238px -309px}
.right_copy {width:234px; height:61px; background-position: -2px -297px}
.verizon_bold {width:76px; height:16px; background-position: -333px -456px}

/* ---------------------------------------------------------------------------------
  Logos
  --------------------------------------------------------------------------------- */
#logo{
	top: 213px;
    left: 30px;
}
#logoComcast{
    width: 77px;
    height: 27px;
    bottom: 12px;
    left: 12px;
    background-image: url(logoComcast.svg);
    /*background-image: url(CBlogo2x.png);*/
    background-size: cover;
}
/*#phoneNumber2x{
    width: 85px;
    height: 11px;
    bottom: 45px;
    right: 27px;
    background-image: url(phoneNumber.png);
    background-size: cover;
}*/
#phoneNumber{
    bottom: 33px;
    left: 188px;
}
#svgQuiz,#svgOffer{
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
}
/* ---------------------------------------------------------------------------------
  Form
  --------------------------------------------------------------------------------- */
#quizForm {
    position: absolute;
    top: 10px;
    left: 49px;
    width: 220px;
    height: 172px;
    z-index: 10;
}

form{
    line-height: 40px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left:100px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #FFF;
    /*border-radius: 100%;*/
    /*background: #fff;*/
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 17px;
    height: 17px;
    background: #005e8b;
    position: absolute;
    top: 1px;
    left: 1px;
    /*border-radius: 100%;*/
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*CHECKBOX*/
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ---------------------------------------------------------------------------------
  Content
  --------------------------------------------------------------------------------- */

#banner {
    display: block;
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4edf5+0,ffffff+100 */
    background: #ffffff;
  
}
#bg {
  width: 300px;
  height:250px;
  top: 0px;
  left: 0px;
  background-image: url(bg_2X.jpg);
  background-size: cover;
  /*opacity: 0;*/
}

#guide {
  width: 300px;
  height:250px;
  top: 0px;
  left: 0px;
  background-image: url(300x250_QUIZ-NoAnswer.jpg);
}

#quizBig {
    top: 78px;
    left: 29px;

}

#blackBar_01 {
    top: 44px;
    left: 41px;
}
#blackBar_02 {
    top: 45px;
    left: 63px;
}

#blackBar_03{
    top: 34px;
    left: 32px; 
}

#blackBar_04{
    top: 14px;
    left: 32px; 
}

#copy2 {
    top: 83px;
    left: 27px;
}

#cl{    
    left: 31px;
    top: 25px;
    width: 121px;
    height: 20px;
    /*background-size: cover;*/
}

#cb{    
    left: 31px;
    top: 27px;
    width: 180px;
    height: 16px;
    /*background-size: cover;*/
}

#att{    
    left: 32px;
    top: 27px;
    width: 50px;
    height: 15px;
    /*background-size: cover;    */
}


#ver{    
    left:32px;
    top: 27px;
    width: 76px;
    height: 16px;
    /*background-size: cover;    */
}
#cl2{    
    left: 79px;
    top: 35px;

    /*background-size: cover;*/
}

#cb2{    
    left: 79px;
    top: 77px;

    /*background-size: cover;*/
}

#att2{    
    left: 81px;
    top: 117px;

    /*background-size: cover;    */
}


#ver2{    
    left:81px;
    top: 157px;

    /*background-size: cover;    */
}
#blackBar_right{
	top: 15px;
    left: 32px;
}
#blackBar_wrong{
	top: 15px;
    left: 32px;
}
#right_copy{
    top: 97px;
    left: 32px;
}
#wrong_copy{
    top: 97px;
    /*left: 24px;*/
    left: 32px;
}

#noAnswer{
    top: 95px;
    left:62px;   
}

#offer{
    top: 93px;
    left: 42px; 
}
#headline_ef{
    top: 68px;
    left: 67px; 
}
#check1{
    width: 20px;
    height: 20px;
    top:25px;
    left:0px;
    background-image: url(check.png);
    background-size: cover;
}
#check2{
    width: 20px;
    height: 20px;
    top:65px;
    left:0px;
    background-image: url(check.png);
    background-size: cover;
}
#check3{
    width: 20px;
    height: 20px;
    top:105px;
    left:0px;
    background-image: url(check.png);
    background-size: cover;
}
#check4{
    width: 20px;
    height: 20px;
    top:145px;
    left:0px;
    background-image: url(check.png);
    background-size: cover;
}
/* ---------------------------------------------------------------------------------
  CTA
  --------------------------------------------------------------------------------- */
#cta {
    bottom: 12px;
    right: 10px;
    width: 119px;
    height: 27px;
    overflow: hidden;
    /*background-color: #008bcd;*/
    z-index: 10;
    
    
}
#cta2{
    top:206px;
    left: 153px;   
}
#ctaWhite {   
    top: 0px;
    left: 0px;
}
#shine {   
    width: 79px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
    border: 0;
    z-index: 2;
    left: -130px;
}

    

 