.banner {
  width: var(--width);
  height: var(--height);
  border: 1px solid var(--primary);
  background: var(--white);
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--family);
}

.size {
  top: -1px;
  left: -1px;
  width: var(--width);
  height: var(--height);
}

.retina {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.multiplyFx {
  mix-blend-mode: multiply;
}

#btn-exit {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
#bg1 {
  background: url(../img/bg1.jpg);
}
#bg2 {
  background: url(../img/bg2.jpg);
}
#gradient {

  top: -1px;
  left: -1px;
  width: 330px;
  height: var(--height);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0063b4+0,009ee0+37,ffffff+100 */
    background: linear-gradient(to right,  #0063b4 0%,#009ee0 37%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0063b4+15,009ee0+52,ceedf9+100 */
/*  background: linear-gradient(to right,  #0063b4 15%,#009ee0 52%,#ceedf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/


}
#disclaimer {
  background: url(../img/disclaimer.png);
}
#copy1_1 {
  background: url(../img/copy1_1.png);
}
#copy1_2 {
  background: url(../img/copy1_2.png);
}
#copy1_3 {
  background: url(../img/copy1_3.png);
}
#copy1_4 {
  background: url(../img/copy1_4.png);
}

#copy2_1 {
  background: url(../img/copy2_1.png);
}
#copy2_2 {
  background: url(../img/copy2_2.png);
}

#copy3_1 {
  background: url(../img/copy3_1.png);
}
#copy3_2 {
  background: url(../img/copy3_2.png);
}

#logo {
  background: url(../img/logo.png);
}
#cta {
  background: url(../img/cta.png);
}