/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font-family: sans-serif;
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*------- Calling Spongecell hosted Comcast Fonts --------*/
@font-face {
    font-family : 'XFINITYStandardTT-Thin';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19304/original/68f8e04978274091c7e6a976542a8ec97eee679e.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19305/original/fcd4f2198bddddd5175dd3d169a3388de84a8e7d.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19281/original/aa7d91e3382f967545ca35bbb60551aaa5f83719.ttf") format("truetype");
    font-weight : 100;
    font-style  : normal;
}

@font-face {
    font-family : 'XFINITYStandardTT-Bold';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19286/original/bf2f2b3424a5148dfa724c2fdfb63d7f5d3b61c4.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19287/original/e47e07c11abfd771eb540bb9e07e9fec9e119c72.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19272/original/ed356a21dc6474b5ae9b308808995af6ea4551f7.ttf") format("truetype");
    font-weight : 700;
    font-style  : normal;
}

@font-face {
    font-family : 'XFINITYStandardTT';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19308/original/6c42a98cfc6fa0c435b36f2a42509d71ccef627c.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19309/original/9c8b95b41012f79de6dff19b5722e4ceba3b98b9.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19283/original/4b519c62d8912d01963a2179b2262b7fd093a8c0.ttf") format("truetype");
    font-weight : 400;
    font-style  : normal;
}



@font-face {
    font-family : 'XFINITYStandardTT-MediumItalic';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19302/original/8da4afd258ec077cc55c18d76dae0a5ed0f778bc.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19303/original/3fbcf6a04efa0d8393c9adbc44638f9c46e11ba7.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19280/original/5aa775a6da8c6068572bc798038dcded2dad65d0.ttf") format("truetype");
    font-weight : 500;
    font-style  : italic;
}

@font-face {
    font-family : 'XFINITYStandardTT-Light';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19296/original/beeacad9011922c7031fe837cdf667ea76c960b0.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19297/original/a6e7996a68a9983dc83e5122d44ecad4fe1b4715.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19277/original/b2b50684d518d03f3495943c45107c480b316be3.ttf") format("truetype");
    font-weight : 300;
    font-style  : normal;
}

@font-face {
    font-family : 'XFINITYStandardTTCond-Medium';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19312/original/c92c79a86b2b54bde3fe6d11cdd32a70f954c510.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19313/original/0fc18abd6d2c72b82ebe3acfc84e2cc6bad984e8.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19285/original/210731351d2689a6ab491c73b860b2a8edaddfa4.ttf") format("truetype");
    font-weight : 500;
    font-style  : normal;
}

@font-face{
    font-family :'XFINITYStandardTT-LightItalic';
    src:
        url("https://s3.amazonaws.com/assets.spongecell.com/assets/19278/original/6f7750e663d33c0fc40e531e81037fa5e5f59a5d.ttf") format("truetype"),
        url("https://s3.amazonaws.com/assets.spongecell.com/assets/19298/original/d2fa0bf489c561ee24e0643125d3cd541b64d093.woff2") format("woff2"),
        url("https://s3.amazonaws.com/assets.spongecell.com/assets/19299/original/8c60b2c640283b122d9f0ea428868e32e4e6233c.woff") format("woff");
        font-weight : 300;
        font-style  : italic;
}

/*------- Calling Flashtalking hosted Comcast Fonts --------------------------------------------------------------------------*/
/* XFINITYStandardTT-Medium */
@font-face {
    font-family : 'XFINITYStandardTT-Medium';
    src         : url("https://s3.amazonaws.com/assets.spongecell.com/assets/19300/original/48c7e9affb0f33ae2050766b308832be99b9521c.woff2") format("woff2"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19301/original/3ad0668f0994cb844ccd7824c6f970068925198c.woff") format("woff"),
    url("https://s3.amazonaws.com/assets.spongecell.com/assets/19279/original/8674ef4564ad507eaaa2c5dff14345c9181899bf.ttf") format("truetype");
    font-weight : 500;
    font-style  : normal;
}

/* XfinityBrownWeb-Regular */
@font-face {
  font-family: 'XfinityBrownWeb-Regular';
  src: url('https://cdn.flashtalking.com/93411/fonts/7d1c67efe403cb3f72ae695a3b3a4e1809ec8710.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/40915d5c7fac9eb0b4397623fac4cd6d0a48852d.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/1bf1652af0afef4076dc2fd7e065fbe531cdf610.woff') format('woff'); /* Legacy iOS */
}


/* XfinityBrownWeb-Bold */

@font-face {
  font-family: 'XfinityBrownWeb-Bold';
  src: url('https://cdn.flashtalking.com/93411/fonts/57cfca5154c2481062a796915c0bdab3ed0f6fd6.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/d4b3e162de98cb3f43636cde35fcc00e89f83fdf.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/1ccbf188da2dd4565c47b990c13da23365f1251e.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-BoldItalic */

@font-face {
  font-family: 'XfinityBrownWeb-BoldItalic';
  src: url('https://cdn.flashtalking.com/93411/fonts/dd78931fcea87798824b2ea15508b3018ea83801.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/925713410a76312ac03b99b396ff01617ccd51b4.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/a241002feb1cb850183df40e8eac072407f86886.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-Italic */

@font-face {
  font-family: 'XfinityBrownWeb-Italic';
  src: url('https://cdn.flashtalking.com/93411/fonts/8dce5ea02e414e29aae67005b9005d4b3c93540a.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/11618f303fbc6ea15251b1dea07a01a172457cf4.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/a8f706bffdb0cd829c1cf7648e9bf9a1b214603f.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-Light */

@font-face {
  font-family: 'XfinityBrownWeb-Light';
  src: url('https://cdn.flashtalking.com/93411/fonts/0cd2571b390e50c7237ba186315923424f49f8ad.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/24941008179701317ed1b84ece7f42ed6a90c2d4.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/74e41835de34c8deb73e1f979e66fe374ac4ccb9.woff') format('woff'); /* Legacy iOS */
}

/* XfinityBrownWeb-LightItalic */

@font-face {
  font-family: 'XfinityBrownWeb-LightItalic';
  src: url('https://cdn.flashtalking.com/93411/fonts/289be44322768fce8ee7f2f396e63bb7bd4741eb.eot'); /* IE9 Compat Modes */
  src: url('https://cdn.flashtalking.com/93411/fonts/ee87a989f489f04b7ce40ad162c93a2681c95db1.woff2') format('woff2'),
   url('https://cdn.flashtalking.com/93411/fonts/196109e48488e6306e22a4d01083b2cf62f52247.woff') format('woff'); /* Legacy iOS */
}


/* ---------------------------------- Font Style Classses ---------------------------------- */
.xsn { font-family : 'XfinityStandardTT'; font-style: normal; font-weight : 400;}

.xst { font-family : 'XFINITYStandardTT-Thin'; font-style:normal; font-weight: 100;}

.xsb { font-family : 'XfinityBrownWeb-Bold'; font-style:normal;}

.xsm { font-family : 'XFINITYStandardTT-Medium'; font-style:normal; font-weight: 500; }

.xsl { font-family : 'XfinityBrownWeb-Light'; font-style:normal;}

.xsc { font-family : 'XFINITYStandardTTCond-Medium'; font-style: normal; font-weight: 500;}

.xsi { font-family : 'XFINITYStandardTT-MediumItalic'; font-style: italic; font-weight: 500;}

.xsli {font-family : 'XfinityBrownWeb-LightItalic'; font-style:italic;}

.lhx2 { line-height: 2; }
.lhx05 { line-height: 0.5; }
.lhx08 { line-height: 0.8; }

.size12 {font-size: 12px;}
.size8 {font-size: 8px;}

.styleItalic {font-style: italic;}

/* ---------------------------------- Non Dynamic Elements ---------------------------------- */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: -webkit-optimize-contrast;
}

div, img, ft-dynamic {
   position : absolute;
}

#container {
    border: 1px solid;
    box-sizing: border-box;
    width: 300px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    background: black;
    color: #000;
    /*background-image:url(1.png);   */
}

#bgWhite {
    width: 100%;
    height: 100%;
    background-color: #eaedf0;
}
#topBar {
    height: 400px;
    width: 300px;
/*    background-color: yellow;*/
    background-color: #5a5a5c;
    transform: rotate(83.5deg);
    left: 0px;
    top: -157px;

}
#bottomBar {
    height: 400px;
    width: 300px;
/*    background-color: green;*/
    background-color: #5a5a5c;
    transform: rotate(83.5deg);
    left: 0px;
    top: 165px;
}
#guide{
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    background: url("guideEF.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
}
#TV_device{
    top: 69px;
    left: 36px;
    width: 229px;
    height: 150px;
    background: url('COMCAST_6852_imgTv300x250_2x.jpg') no-repeat;
    background-size: 100% 100%;
}
#TV_content_holder{
    top: 4px;
    left: 3px;
    width: 223px;
    height: 125px;
/*    background-size: 100% 100%;*/
/*    background-color: aqua;*/
    overflow: hidden;
}
/* ---------------------------------- Dynamic Elements ---------------------------------- */
#TVcontent_01,
#TVcontent_02,
#TVcontent_03 {
    top: 0px;
    left: 0px;
    /*width: 223px;*/
    /*height: 125px;*/
    background-size: 100% 100%;
}

#TVcontent_01 img,
#TVcontent_02 img,
#TVcontent_03 img{
    width: 223px;
    height: 125px;
    /*background-size: 100% 100%;*/
}

#logo {
    width: 66px;
    height: 22px;
    bottom: 9px;
    right: 8px;
}

/* Headers */
#frame1CopyA,
#frame1CopyB,
#frame2CopyA {
/*    position: relative;*/
/*    line-height: 1;*/
/*    letter-spacing: 0.1px;*/
/*    padding: 0px 27px;*/
/*    font-size: 18px;*/
    width: 300px;
    color: white;
}

#frame1CopyA {
    position: absolute;
    top: 83px;
    font-size: 33px;
    text-align: center;
}

#frame1CopyB {
    position: absolute;
    top: 129px;
    font-size: 20px;
    text-align: center;
}

#frame2CopyA {
    position: absolute;
    top: 13px;
    font-size: 20px;
    text-align: center;
}
#frame2CopyB{
    position: absolute;
    top: 38px;
    font-size: 20px;
    text-align: left;
    width: 900px;
    letter-spacing: -.4px;
    height: 20px;
    color: white;
}
#frame2CopyC{
    position: absolute;
    bottom: 6px;
    left: 11px;
    width: auto;
    color: white;
    font-size: 9px;
    letter-spacing: -.35px;
}

#endFrameHeaderHolder { /* for centering copy vertically */
    top: 12px;
    height: 44px;
    display: table;

}

#endFrameHeader {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: top;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-size: 19px;
    width: 300px;
    color: white;
}

/* endFrame */
#endFrame{
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
}
#endOfferHolder {
    top: 70px;
    left: 19px;
    width: 124px;
    height: 95px;
}
#endOffer {
    position: relative;
    display: block;
    vertical-align: middle;
    color: #1d261e;
    color:white;
}
#packageTitle {
    position: relative;
    display: table-cell;
    width: 200px;
    height: 13px;
    font-size: 11px;
    text-align: center;
    letter-spacing: -0.1px;
    line-height: 1;
    vertical-align: bottom;
}

#symbol {
    position: relative;
    float: left;
    font-size: 18px;
    margin-left: 1px;
    margin-top: 5px;
}

#price {
    position: relative;
    margin-top: -2px;
    float: left;
    font-size: 55px;
    letter-spacing: -1px;
    margin-left: 2px;
}

#rightContent {
    position: relative;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
}

#cents {
    font-size: 20px;
}

#range {
    top: 1px;
    width: 60px;
    font-size: 8px;
    padding-left: 1px;
    line-height: 1.3;
}

#offerBotTxtHolder {
    position: relative;
    clear: both;
    width: 98%;
    text-align: center;
    top: -3px;
}

#contract{
    position: relative;
    line-height: 1.4;
    letter-spacing: 0px;
    font-size: 9px;
    text-align: center;
    margin-left: 5px;
/*    margin-bottom: 10px;*/
}

#lto{
    padding: 5px 10px 6px 11px;
    background-color: #c8001d;
    color: white;
    font-size: 9px;
    letter-spacing: .3px;
}

#lto::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 0;
    border-color: #c8001d transparent transparent transparent;
}

#boltOnHolder2 { /* for centering copy vertically */
    /* padding-top: 8px; */
    position: relative;
    top: -4px;
    left: 0px;
    width: 140px;
    height: 60px;
    padding-top: 0px;
    display: block;

}

#boltOn2 {
    position: relative;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.1;
    color: #1d261e;
    font-size: 10px;
}

#endTablet{
    position: absolute;
    width: 183px;
    height: 136px;
    top: 67px;
    left: 59px;
    background-size: 100% 100%;
}

#endTablet img {
    width: 183px;
    height: 136px;    
}

#phoneNumber{
    top: 208px;
    left: 11px;
    width: 70px;
    font-size: 10px;
    color: #ffffff;
    letter-spacing: .1px;
}

#legalDisclaimerHolder{
    bottom: 0;
    width: 225px;
    height: 46px;
    display: table;
}

#legalDisclaimer {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -0.55px;
    line-height: 1.3;
    padding: 0 11px;
    font-size: 9px;
    color: #ffffff;
}

#ctaBg {
    top: 198px;
    left: 102px;
    width: 97px;
    height: 28px;
    overflow: hidden;
    background-color: #3399cc;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(255, 255, 255, 0.5), rgba(204, 204, 204, 0));
    background-position: -100px 0;
}

#cta {
    text-align: center;
    font-size: 12px;
    width: 100%;
    color: white;
    white-space: nowrap;
    top: 8px;
    padding: 0;
}

/*------------------ Classes ------------------- */
.displayNoneClass{
    display: none;
}
ft-dynamic img{ all: unset; width: inherit};
