.banner {
  width: var(--width);
  height: var(--height);
  border: 1px solid var(--primary);
  background: var(--white);
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--family);
}

.size {
  top: -1px;
  left: -1px;
  width: var(--width);
  height: var(--height);
}

.size2 {
  width: var(--width);
  height: var(--height);
}

.shine{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+34,ffffff+76,ffffff+100&0+22,0.5+35,1+51,0.3+64,0+75,0+100 */
background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 22%,rgba(255,255,255,0.46) 34%,rgba(255,255,255,0.5) 35%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.3) 64%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 76%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.retina {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

#btn-exit {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

svg {
  display: none;
}
#shineCont{
  top: 16px;
  left: 245px;
  width: 18px;
  height: 15px;
/*  background-color: red;*/
  overflow: hidden;
}

#shine1{
  position: relative;
  width: 36px;
  height: 15px;
  left: -36px;
}

#Path1 {
  visibility: hidden;
}

#bg_graphic {
  background: url(../img/bg2_graphic.png);
  opacity: 0;
}

#imgMain {
  background: url(../img/imgMain.png);
}

#copy1 {
  background: url(../img/copy1.svg);
}

#copy2 {
  background: url(../img/copy2.svg);
}

#copy3 {
  background: url(../img/copy3.svg);
}

#disclaimer {
  background: url(../img/disclaimer.png);
}

#name {
  background: url(../img/name.svg);
}

#qsButtons{
  top:-1px;
  left: 2px;
}

#inactive{
  background: url(../img/qs_inactive.png);
}
#q1{
  background: url(../img/qs_active_q1.png);
}
#q2{
  background: url(../img/qs_active_q2.png);
}
#q3{
  background: url(../img/qs_active_q3.png);
}
#q4{
  background: url(../img/qs_active_q4.png);
}

#lineGraphic {
  top: 178px;
  left: 57px;
  width: 0px;
  height: 1px;
/*  color: #1497d5;*/
/*  border: 1px solid #1497d5;*/
  background-color: #1497d5;
}

#cta {
  width: 320px;
  height: 50px;
  opacity: 0;
  top: 0px;
  left: 0px;
}

#cta1 {
  background: url(../img/cta1.svg);
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, .3));
}

#logo {
  background: url(../img/logoPMI.png);
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 43pt;
  letter-spacing: -0.01em;
}

#numberContainer {
  top: 94px;
  left: 165px;
  color: white;
}

#numberContainer2 {
  top: 162px;
  left: 52px;
  color: #003da5;
  font-size: 7pt;
  opacity: 0;
}

#number3 {
  position: relative;
  font-size: 19pt;
  top: -23px;
  left: 12px;
}

#number {
  position: relative;
  font-size: 33pt;
  top: -9px;
  left: 8px;
}

#whiteBox {
  top: 173px;
  width: 300px;
  height: 100px;
  background-color: white;
}

#containerGraphic {
  width: 300px;
  height: 250px;
  bottom: -1px;
  left: -1px;
  position: absolute;
  mix-blend-mode: multiply;
}

#graphic {
  background: url(../img/graphic.svg);
  mix-blend-mode: multiply;
}

#graphicDate {
  background: url(../img/graphicDate.svg);
}

#oval1 {
  background: url(../img/oval1.svg);
/*  mix-blend-mode: multiply;*/
}

#oval2 {
  background: url(../img/oval2.svg);
}